{% extends 'main/base.html' %}
{% block content %}
<br>
<div class='container-fluid shadow-lg rounded bg-light' style="padding:20px; width:95%;">
  <h1>About OpenReads</h1>
</div>
<br>
<br>
<br>
<br>

<div class='container-fluid'>
  <h2> Recommended books </h2>
  <form class="form input-group input-group-lg mb-3 p-4" action="{% url 'main:search' %}" method="get" >
    <input type="text" class="form-control" placeholder="Search Books" aria-label="Search" name="searchword">
    <div class="input-group-append">
      <button class="btn btn-outline-info" type="submit" >Search</button>
    </div>
  </form>
  <div id='recomm' class ="shadow rounded bg-light container-fluid" style="padding: 20px;">
    </div>
  </div>
</div>
{% endblock %}
